{% include 'base.html' %}
<body>
    <div id="page">
        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>
         <div id="shortcontain">   
            
            <a href="">
                <div class="MenuBox" id="one">
                    <h1>Economic Geology</h1>
                    <img src="{{ url_for('static',filename='images/seg.png') }}" alt="SEG">
                </div>
            </a>  
            <a href="">
                <div class="MenuBox" id="two">
                    <h1>Foreign Languages</h1>
                    <img src="{{ url_for('static',filename='images/mfl.png') }}" alt="Foreign languages">
                </div>
            </a>  
            <a href="">
                <div class="MenuBox" id="three">
                    <h1>Team environments</h1>
                    <img src="{{ url_for('static',filename='images/team.png') }}" alt="Programming">
                </div>
            </a>  
         </div>
        <div id="shortcontain2">    
            <a href="">
                <div class="MenuBox" id="four">
                    <h1>Graphic Design</h1>
                    <img src="{{ url_for('static',filename='images/gd.png') }}" alt="Graphics">
                </div>
            </a>  
            <a href="">
                <div class="MenuBox" id="five">
                    <h1>Programming</h1>
                    <img src="{{ url_for('static',filename='images/prg.png') }}" alt="Programming">
                </div>
            </a>  
            <a href="">
                <div class="MenuBox" id="six">
                    <h1>Travel</h1>
                    <img src="{{ url_for('static',filename='images/travel.png') }}" alt="Travel">
                </div>
            </a>  
         </div>
        <div id="who">
            <div id="whohead">
                <h1>Who am I?</h1>
            </div>
            <div id="whop">
                <p1>Growing up in Somerset I had the chance to visit many sites along the Jurassic Coast. During this time I developed a keen interest in fossil hunting, despite never finding much of value. 
                    Seeing these fossilised animals and wondering how they lived stuck with me. Paired with my Grandpa's rock collection and travel tapes, this led to a fascination with how things worked all around the world and a desire to understand science.
                </p1>
            </div>
            <div id="lyme">
                
            </div>
            <div id="interests">
                <div id="interestshead">
                    <h1>Current interests</h1>
                </div>
                <div id="interestsbody">
                    <p1>volcanoes, computers, travel and languages</p1>
                </div>
            </div>
        </div>
    </div>
    <svg id="filters">
        <defs>
            <filter id="threshold">
                <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                        0 1 0 0 0
                                        0 0 1 0 0
                                        0 0 0 255 -140" />
            </filter>
        </defs>
    </svg>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>



    <!-- <script type="text/javascript">
    //     const buttons = document.querySelectorAll('a');
    //     buttons.forEach(btn => {
    //         btn.addEventListener('mouseenter', function(e){

    //             let x = e.clientX - e.target.offsetLeft;
    //             let y = e.clientY - e.target.offsetTop;

    //             let ripples = document.createElement('span');
    //             ripples.style.left = x + 'px';
    //             ripples.style.top = y + 'px',
    //             this.appendChild(ripples);

    //             setTimeout(() =>{
    //                 ripples.remove()
    //             }, 2000);
    //         })
    //     })
    // </script> -->
</body>