{% include 'base.html' %}
<body>
    <a href="#top" class="arrow" aria-label="Back to top" title="Back to top">↑</a>
    <div id="page">
        <div id="container">
            <span id="text1"></span>
            <span id="text2"></span>
        </div>
         <div id="shortcontain">   
            
            <a href="#seghead">
                <div class="MenuBox" id="one">
                    <h1>Economic Geology</h1>
                    <img src="{{ url_for('static',filename='images/seg.png') }}" alt="SEG">
                </div>
            </a>  
            <a href="#languagehead">
                <div class="MenuBox" id="two">
                    <h1>Foreign Languages</h1>
                    <img src="{{ url_for('static',filename='images/mfl.png') }}" alt="Foreign languages">
                </div>
            </a>  
            <a href="#teamhead">
                <div class="MenuBox" id="three">
                    <h1>Team environments</h1>
                    <img src="{{ url_for('static',filename='images/team.png') }}" alt="Programming">
                </div>
            </a>  
         </div>
        <div id="shortcontain2">    
            <a href="">
                <div class="MenuBox" id="four">
                    <h1>Graphic Design</h1>
                    <img src="{{ url_for('static',filename='images/gd.png') }}" alt="Graphics">
                </div>
            </a>  
            <a href="">
                <div class="MenuBox" id="five">
                    <h1>Programming</h1>
                    <img src="{{ url_for('static',filename='images/prg.png') }}" alt="Programming">
                </div>
            </a>  
            <a href="">
                <div class="MenuBox" id="six">
                    <h1>Travel</h1>
                    <img src="{{ url_for('static',filename='images/travel.png') }}" alt="Travel">
                </div>
            </a>  
         </div>
        <div id="who">
            <div id="whohead">
                <h1>Who am I?</h1>
            </div>
            <div id="whop">
                <p1>Growing up in Somerset I had the chance to visit many sites along the Jurassic Coast. During this time I developed a keen interest in fossil hunting, despite never finding much of value. 
                    Seeing these fossilised animals and wondering how they lived stuck with me. Paired with my Grandpa's rock collection and travel tapes, this led to a fascination with how things worked all around the world and a desire to understand science.
                </p1>
            </div>
            <div id="lyme">
                
            </div>
            <div id="interests" class="reveal">
                <div id="interestshead">
                    <h1>Current interests</h1>
                </div>
                <div id="interestsbody">
                    <p1>
                        My current main interest is in tectonic hazards (Volcanoes, earthquakes, tsunamis). These natural hazards have always been around and wont just disappear. To understand their mechanisms and results is key in mitigating damage
                        and potential harm to life. Seeing such events take place throughout my life, and hearing about those before, surely strengthened my desire to study Geology. <br><br>Out of all the hazards, I am most interested in volcanics because, at the end 
                        of the day, seeing them erupt is just pretty cool. Being able to glimpse deep-rooted processes occuring all across the world is simply incredible. Travelling around has allowed me to see some of these for myself, be it the eggy smelling Solfatara
                        in Italy, or the base of my masters project on the island of Tenerife. 
                    </p1>
                    <p2><br><br>    
                        Outside of geology I have a long-lasting interest in computers and programming. Starting around the age of 9 to automate tasks on a computer to creating small games. Computers have aided in widening my world-view as well as providing
                        opportunities to learn about things I would have never thought of. In this regard computers have been especially beneficial in learning foreign languages through a wealth of online sources. 
                    </p2>
                </div>
                <div id="volcanopic">
                    
                </div>
            </div>
        </div>
        <div id="seg" class="reveal">
            <div id="seghead">
                <h1>Economic Geology</h1>
                <img src="{{ url_for('static',filename='images/seg.png') }}" alt="SEG">
            </div>
            <div id="segtime">
                <h1>Secretary for the University of Southampton chapter of the Society of Economic Geology
                    <br>2019-2020
                </h1>
            </div>
            <div id="segcontain">
                <div id="aboutseg">
                    <h1>
                        During my 3rd year studying at the University of Southampton I was appointed the secretary for the Society of Economic Geology. 
                        <br><br>
                        Interest grew during SOES3002 ('Petroleum Geology and Mineral Resources'), especially in mineral exploration at arc settings. Seeing a link between 
                        volcanic systems and profitable excursions ignited a passion for exploration geology.
                        <br>My main interest was in the formation of porphyry copper deposits at subduction margins.
                    </h1>
                </div>
                <div id="seglogo">
                    <img src="{{ url_for('static',filename='images/seglogo.png') }}" alt="SEG">
                </div>
            </div>
        </div>
        <div id="languages" class="reveal">
            <div id="languagehead">
                <h1>Foreign Languages</h1>
                <img src="{{ url_for('static',filename='images/mfl.png') }}" alt="languages">
            </div>
            <div id="quote">
                <h1>If you talk to a man in a language he understands, that goes to his head. If you talk to him in his language, that goes to his heart.
                    <br>Nelson Mandela
                </h1>
            </div>
            <div id="languagecontain">
                
                <div id="aboutlang">
                   <h1>I'm a firm believer that learning languages is an easy way to leave your comfort zone. There are apparently more than 7100 languages spoken in the world. Opening up and giving languages a chance brings a whole new world to you, 
                    not only for travel but also in media that can be consumed. <br>Having Spanish under my belt following 8 years of study (including A-Level Spanish) I am now focused on learning Mandarin Chinese. With both of these languages it opens 
                    up almost 2 billion new conversations.<br>Hover below!</h1>
                </div>
                <div id="langimg">
                    <div id="ying">
                        <h1>英语</h1>
                        <img src="{{ url_for('static',filename='images/eng.png') }}" alt="english">
                    </div>
                    <div id="xiban">
                        <h1>西班牙语</h1>
                        <img src="{{ url_for('static',filename='images/spanish.png') }}" alt="spanish">
                    </div>
                    <div id="hanyu">
                        <h1>汉语</h1>
                        <img src="{{ url_for('static',filename='images/han.png') }}" alt="mandarin">
                    </div>
                </div>
            </div>
        </div>
    <div id="page2" class="reveal">
        <div id="team" class="reveal">
            <div id="teamhead">
                <h1>Team Environment</h1>
                <img src="{{ url_for('static',filename='images/team.png') }}" alt="teamwork">
            </div>
            <div id="quote2">
                <h1>The whole is greater than the sum of its parts.
                    <br>Aristotle
                </h1>
            </div>
        </div>
    </div>
    </div>
    <svg id="filters">
        <defs>
            <filter id="threshold">
                <feColorMatrix in="SourceGraphic" type="matrix" values="1 0 0 0 0
                                        0 1 0 0 0
                                        0 0 1 0 0
                                        0 0 0 255 -140" />
            </filter>
        </defs>
    </svg>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/lang.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <!-- reveal on scroll -->
    <script type="text/javascript">
        window.addEventListener('scroll', reveal);

        function reveal(){
            var reveals = document.querySelectorAll('.reveal');

            for(var i = 0; i < reveals.length; i++){
                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 150;

                if(revealtop < windowheight - revealpoint){
                    reveals[i].classList.add('active');
                }
                else{
                    reveals[i].classList.remove('active');
                }
            }
        }
    </script>
</body>