{% include 'base.html' %}
<body>
    
<a href="#top" class="arrow" aria-label="Back to top" title="Back to top">↑</a>
<a href="#section2" class="arrow2" aria-label="Down" title="Go down">↓</a>
<div class="container">
    <div class="box1" id="section1">
        <div class="starter">
            <h1 id="name">Hi. I'm Harry</h1>
            <!-- <script>
                var username = prompt("Hello, who are you?");

                if(username.toLowerCase()==="yunzhen") {
                    document.write("<h1>Hello " + username[0].toUpperCase() + username.substring(1) + " I love you</h1>");
                }
                else {
                     document.write("<h1>Hi " + username[0].toUpperCase() + username.substring(1) + ". I'm Harry</h1>");
                }
                </script>    -->
            <div class="aboutme">
                <p1>I'm an Msci Geology graduate from the University of Southampton looking to gain experience in the geology sector. Checkout my work on the <a href="/projects" style="text-decoration: none; color: inherit;">'Projects'</a> page or read more about me on the <a href="/about" style="text-decoration: none; color: inherit;">'About'</a> page. Feel free to get in touch with me below.</p1>
            </div><a href="#section2" style="text-decoration: none; color: inherit;">
                <div class="contactme">
                    <h1>Contact me</h1>
                </div>
            </a>
        </div>
    <a href="{{ url_for('static',filename='images/uos.JPG') }}" data-lightbox="uos" data-title="Universtiy of Southampton">	
        <div class="uos">
			<img src="{{ url_for('static',filename='images/uos.JPG') }}" alt="University of southampton">
		</div>
    </a>
    <a id="yzh" href="{{ url_for('static',filename='images/yzh.JPG') }}" data-lightbox="yzh" data-title="Harry and Yunzhen">	    
        <div class="yzh">
			<img src="{{ url_for('static',filename='images/yzh.JPG') }}" alt="Me and Yunzhen">
		</div>
    </a>    
    </div>
    <div class="containerspacer"></div>
    <div class="box2" id="section2">
        <div id="contactcontain">
            <div id="mobilesec">
                <img src="{{ url_for('static',filename='images/phone.png') }}" alt="Call me!" style="height:10rem; width:8rem;">
                <h1>Call or text me at: 07753127952</h1>
            </div>
            <div id="emailsec">
                <img src="{{ url_for('static',filename='images/email.png') }}" alt="Send me an email!">
                <h1>Or, send me an email at: harrybonshormayes@gmail.com</h1>
            </div>
            <div id="formspacer">
                <h1>Or, fill out this form directly.</h1>
            </div>
            <div id="jsform">
                <form onsubmit="sendEmail(); reset(); return false">
                    <h3>Please enter the following information below:</h3>
                    <input type="text" id="Name" placeholder="Your Name" required>
                    <input type="email" id="Email" placeholder="Your email address" required>
                    <input type="text" id="phonenum" placeholder="Phone number" required>
                    <textarea id="message" rows="4" placeholder="Please write your message here"></textarea>
                    <button type="submit">Send your message</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ url_for('static',filename='lightbox/dist/js/lightbox.js') }}"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
    function sendEmail(){
        Email.send({
            SecureToken: "6df11250-d898-4e41-87a3-4056db8b3c3b",
            To : "harrybonshormayes@gmail.com",
            From : "harrybonshormayes@gmail.com",
            Subject : document.getElementById("Name").value + " sent an email from the website",
            Body : "Name: " + document.getElementById("Name").value
            + "<br> Email: " + document.getElementById("Email").value
            + "<br> Phone Number: " + document.getElementById("phonenum").value
            + "<br> Message: " + document.getElementById("message").value
        }).then(
        message => alert("Thanks for your message, I'll get back to you soon")
        );
    }
</script>
<script>
    var edit = document.querySelector("#name");
    var username = prompt("Hello, who are you?");

    if(username.toLowerCase()==="yunzhen") {
                    edit.innerHTML = ("<h1>Hello " + username[0].toUpperCase() + username.substring(1) + " I love you</h1>");
                }
                else {
                    edit.innerHTML = ("<h1>Hi " + username[0].toUpperCase() + username.substring(1) + ". I'm Harry</h1>");
                }
</script>
</body>
</html>