{% include 'base.html' %}
<body>
   
<!-- Linked In Button -->
<a href="https://www.linkedin.com/in/harry-bonshor-mayes-5a2236199/" target="_blank" class="linkedin" id="linkedinbutton" aria-label="My LinkedIn" title="LinkedIn">
    <div id="linkcontainer">
        <div id="linkedbox">
            <img src="{{ url_for('static',filename='images/linked.png') }}" alt="My LinkedIn">
        </div>
        <div id="linktext">
            <h1>Check out my LinkedIn!</h1>
        </div>
    </div>
</a>

        <!-- Delete when complete -->
        <div id="deleteme">
            <div id="deletecontent">
                <h1>Hi, I'm currently working on this page.
                    <br>I'll be adding content such as my masters project and mapping project soon.
                    <br>Please check back later.
                </h1>
            </div>

        </div>
        <!-- delete end -->


        <!-- modal section -->
        <!-- Li popup -->
        <div class="bg-modal">
            <div class="modal-contents">
                <img src="{{ url_for('static',filename='images/modalimg.jpg') }}" alt="Have a Donut">
                <h1>Thanks for checking out my LinkedIn, it means a lot.
                    <br><br> Have a donut.
                </h1>
                <div class="closemodal" id="modalcloser">+</div>
            </div>

        </div>
        <!-- modal end -->

    <div id="testing"></div>

    <!-- li popup -->
<script>
	document.getElementById('linkedinbutton').addEventListener('click', function(){
		document.querySelector('.bg-modal').style.display = 'flex';
	})
</script>
<script>
	document.getElementById('modalcloser').addEventListener('click', function(){
		document.querySelector('.bg-modal').style.display = 'none';
	})
</script>
<!-- li popup end -->
</body>