* {
    margin:0;
    padding:0;
}
::-webkit-scrollbar{
    width: 1.5em;
}
::-webkit-scrollbar-track{
    background: rgb(73, 34, 34);
}
::-webkit-scrollbar-thumb{
    background: rgb(129, 58, 58);
    border: .25em solid rgb(73, 34, 34);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(185, 64, 64)
}
.top_box{
    background-color: rgb(218, 84, 84);
    height:150px;
    width:auto;
    align-items:center;
    flex-direction: column;
    display:flex;
}
.spacer{
    height:30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.name{
    height:70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.buttons{
    width:900px;
    height: 50px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.home{
    border-top-left-radius: 10px;
    height:50px;
    width:300px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.home:hover{
    background-color:rgb(133, 51, 51);
}
.home h1{
    color:antiquewhite;
    font-family: 'Amaranth', sans-serif;
}
.home h1{
    color:antiquewhite;
    font-family: 'Amaranth', sans-serif;
    transition: transform .2s;
}
.home h1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.about{
    height:50px;
    width:300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.about:hover{
    background-color:rgb(133, 51, 51);
}
.about h1{
    color: antiquewhite;
    font-family: 'Amaranth', sans-serif;
    transition: transform .2s;
}
.about h1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.projects{
    border-top-right-radius: 10px;
    height:50px;
    width:300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.projects:hover{
    background-color:rgb(133, 51, 51);
}
.projects h1{
    color: antiquewhite;
    font-family: 'Amaranth', sans-serif;
    transition: transform .2s;
}
.projects h1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.name h1{
    text-align: center;
    vertical-align: middle; 
    color:rgb(0, 0, 0);
    font-family: 'Amaranth', sans-serif;
    font-weight: 900;
    font-size: 50px;
}
body{
    background-color: rgb(248, 247, 245);
}
#linkcontainer{
    position: fixed;
    width: 300px;
    height: 220px;
    left: 1rem;
    top: 40rem;
    overflow: hidden;
}
#linktext{
    height: auto;
    width: auto;
    position: relative;
    background-color: #5bb4fd;
    top: 100px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    animation-delay: 2s;
}
#linktext h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0.5rem;
    color: rgb(255, 255, 255); 
}
.linkedin:hover > #linkcontainer > #linkedbox{
    opacity: 0.9;
    transform: scale(1.5);
    transform: rotate(360deg);
}
.linkedin:hover > #linkcontainer > #linktext{
    transform: translateY(-95px);
    opacity: 1;
}
#linkedbox{
    width: 100px;
    height: 100px;
    margin-inline: auto;
    margin-top: 1rem;
    opacity: 0.3;
    transform: rotate(-90deg);
    transition: 0.6s ease-in-out;
}
#linkedbox img{
    width: 100%;
    height: 100%;
}


#testing{
    width: 100rem;
    height:100rem;
    background-color:rgb(250, 235, 215);
    margin-inline: auto;
}