html, body {margin: 0; 
    height: 100%; 
    overflow: hidden;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 1.5em;
}
::-webkit-scrollbar-track{
    background: rgb(73, 34, 34);
}
::-webkit-scrollbar-thumb{
    background: rgb(129, 58, 58);
    border: .25em solid rgb(73, 34, 34);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(185, 64, 64)
}
.top_box{
    background-color: rgb(243, 142, 105);
    height:150px;
    width:auto;
    align-items:center;
    flex-direction: column;
    display:flex;
}
.spacer{
    height:30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.name{
    height:70px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.buttons{
    width:900px;
    height: 50px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.alert{
    text-decoration: none;
    cursor: default;
}

#alertbox{
    height: 60px;
    width: 600px;
    top: 9.5rem;
    left: 1rem;
    position: absolute;
    overflow: hidden;
}
#alertimg {
    height:60px;
    width: 60px;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}
#alertimg img{
    width: 100%;
    height: 100%;
}

#alertmsg{
    position: relative;
    left: 4rem;
    top: 1rem;
    width: 520px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.521);
    transition: 0.5s ease-in-out;
}
#alertmsg H1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    color: white;
    position: relative;
    top: 0.5rem;
}
#alertimg:hover{
    transform: rotate(-30deg);
    opacity: 1;
}
#alertimg:hover + #alertmsg{
    transform: translateY(-4.8rem);
}


.home{
    border-top-left-radius: 10px;
    height:50px;
    width:300px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.home:hover{
    background-color:rgb(209, 122, 90);
}
.home h1{
    color:antiquewhite;
    font-family: 'Amaranth', sans-serif;
    transition: transform .2s;
}
.home h1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.about{
    height:50px;
    width:300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.about:hover{
    background-color:rgb(209, 122, 90);
}
.about h1{
    color: antiquewhite;
    font-family: 'Amaranth', sans-serif;
    transition: transform .2s;
}
.about h1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.projects{
    border-top-right-radius: 10px;
    height:50px;
    width:300px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.projects:hover{
    background-color:rgb(209, 122, 90);
}
.projects h1{
    color: antiquewhite;
    font-family: 'Amaranth', sans-serif;
    transition: transform .2s;
}
.projects h1:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.name h1{
    text-align: center;
    vertical-align: middle; 
    color:rgb(0, 0, 0);
    font-family: 'Amaranth', sans-serif;
    font-weight: 900;
    font-size: 50px;
}
body{
    background-color: rgb(248, 247, 245);
}
.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width:200px;
    height:100vh;
  }
* {
    margin:0;
    padding:0;
}
.container{
    display:flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    height: 4500px;
    width: 100%;
    background-image: radial-gradient(
        #dfdfdf1c 20px,
        transparent 20px
    );
    background-size: 60px 60px;
}
.box1{
    display:flex;
    height: 2000px;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}
.starter{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    height: 400px;
    width: 1000px;
    margin-left: 420px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 3px;
}
.starter h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 65px;
}
.aboutme{
    margin-top: 30px;
    height:auto;
    width: 850px;
}
.aboutme p1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 30px;
    color: rgb(54, 52, 52);
    font-weight: 600;
}
.contactme{
    width:200px;
    transition: transform .2s;
    height:auto;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 30px;
}
.contactme:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}
.contactme h1{
    font-size: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}
.containerspacer{
    width:100%;
    height:500px;
}
.box2{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2000px;
    width: 100%;
}
.arrow {
    color: antiquewhite;
    text-decoration: none;
    position: fixed;
    font-size: 50px;
    bottom: 30px;
    right: 30px;
    padding: 18px 20px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}
#linkcontainer{
    position: fixed;
    width: 300px;
    height: 220px;
    left: 1rem;
    top: 40rem;
    overflow: hidden;
}
#linktext{
    height: auto;
    width: auto;
    position: relative;
    background-color: #5bb4fd;
    top: 100px;
    opacity: 0;
    transition: 0.3s ease-in-out;
    animation-delay: 2s;
}
#linktext h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0.5rem;
    color: rgb(255, 255, 255); 
}
.linkedin:hover > #linkcontainer > #linkedbox{
    opacity: 0.9;
    transform: scale(1.5);
    transform: rotate(360deg);
}
.linkedin:hover > #linkcontainer > #linktext{
    transform: translateY(-95px);
    opacity: 1;
}
#linkedbox{
    width: 100px;
    height: 100px;
    margin-inline: auto;
    margin-top: 1rem;
    opacity: 0.3;
    transform: rotate(-90deg);
    transition: 0.6s ease-in-out;
}
#linkedbox img{
    width: 100%;
    height: 100%;
}
.arrow:hover {
      background: rgba(0,0,0,.5);
}
.arrow2 {
    color: antiquewhite;
    text-decoration: none;
    position: fixed;
    font-size: 50px;
    bottom: 30px;
    right: 100px;
    padding: 18px 20px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
}
.arrow2:hover {
      background: rgba(0,0,0,.5);
}
.uos{
    display: flex;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: aquamarine;
    width:600px;
    height:500px;
    
}
.uos img{
    border-radius: 3px;
    width:600px;
    height:500px;
    object-fit: cover;
    transition: transform .5s ease;
}
.uos img:hover{
    transform: scale(1.2); 
}
.yzh{
    border-radius: 3px;
    background-color: aquamarine;
    width:600px;
    height:500px;
    margin-bottom: 930px;
    margin-left: auto;
    margin-right: auto;   
}
#yzh{
    margin-inline: auto;
}
.yzh img{
    border-radius: 3px;
    width:600px;
    height:500px;
    object-fit: cover;
    transition: transform .5s ease;
}
.yzh img:hover{
    transform: scale(1.2); 
}
#contactcontain{
    background-color:rgb(34, 34, 34);
    border-radius: 15px;
    height: 75rem;
    width: 80rem;
    display: flex;
    margin-bottom: 740px;
    opacity: 80%;
    display: flex;
    flex-direction: column;
}
#mobilesec{
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: auto;
    margin-top: 5rem;
    margin-inline: 3rem;
}
#mobilesec h1{
    font-family: 'Amaranth', sans-serif;
    margin-left: 5rem;
    margin-block: auto;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 4rem;
}
#mobilesec img{
    height:10rem;
    width:8rem;
    transition: transform .5s ease;
    margin-left: 0.5rem;
}
#mobilesec img:hover{
    transform: scale(1.2);
}
#emailsec{
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: auto;
    margin-top: 3rem;
    margin-inline: 3rem;
}
#emailsec h1{
    font-family: 'Amaranth', sans-serif;
    margin-left: 3.5rem;
    margin-block: auto;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 4rem;
}
#emailsec img{
    margin-top: 1.7rem;
    height:7.5rem;
    width:10.5rem;
    transition: transform .5s ease;
    
}
#emailsec img:hover{
    transform: scale(1.2); 
}
#formspacer{
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin-top:1rem;
    width: auto;
}
#formspacer h1{
    color: rgb(255, 255, 255);
    font-family: 'Amaranth', sans-serif;
    margin-block: auto;
    margin-inline: auto;
    font-weight: 600;
    font-size: 2.5rem;

}
#jsform{
    display: flex;
    flex-direction: row;
    height: 40rem;
    width: auto;
    margin-inline: 3rem;
}
form{
    background-color: rgb(255, 255, 255);
    width: 45rem;
    height:35rem;
    margin-inline: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 15px;
}
form h3{
    color: rgb(29, 29, 29);
    font-family: 'Amaranth', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
}
form textarea{
    border: 0;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Amaranth', sans-serif;
    padding:1rem;
    height:18rem;
    outline: none;
    background: #c0c0c01c;
    border-radius: 5px;
}
form input{
    border: 0;
    margin: 1rem;
    font-size: 1.5rem;
    font-family: 'Amaranth', sans-serif;
    padding:1rem;
    border-radius: 5px;
    outline: none;
    background: #c0c0c01c;
}
form button{
    background: #ff8248;
    font-family: 'Amaranth', sans-serif;
    color:rgb(241, 241, 241);
    border-radius: 20px;
    font-size: 2rem;
    width: 15rem;
    border: 0;
    outline: none;
    margin-inline: auto;
    cursor: pointer;
    transition: transform .5s ease;
}
form button:hover{
    background: #cc6d40;
    transform: scale(1.1); 
}


/* popup */
.bg-modal{
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.205);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .modal-contents{
    border-radius: 20px;
    width: 60rem;
    height: 40rem;
    background-color: antiquewhite;
    overflow: hidden;
  }
  
  .modal-contents h1{
    position: relative;
    font-size: 3.5rem;
    color: white;
    bottom: 40rem;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 600;
  }
  
  .modal-contents img{
    position: relative;
    right: 5rem;
    width: 115%;
    height: 100%;
  }
  .closemodal{
    position: relative;
    left: 47rem;
    bottom: 12rem;
    font-size: 8rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(39, 39, 39);
    font-weight: bolder;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.5s ease-in-out;
    opacity: 0.3;
  }
  .closemodal:hover{
    opacity: 1;
  }
  /* end popup */